<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="com.github.k1rakishou.kurobaexlite.on_new_replies_received" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:name=".KPNCApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KPNC"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.KPNC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".domain.KPNCFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".domain.KurobaExApiBoardcastReceiver"
            android:exported="true"
            android:enabled="true">

            <intent-filter>
                <action android:name="com.github.k1rakishou.kpnc.get_info" />
                <action android:name="com.github.k1rakishou.kpnc.start_watching_post" />
                <action android:name="com.github.k1rakishou.kpnc.stop_watching_post" />
            </intent-filter>

        </receiver>

    </application>

</manifest>